*.class
*.log                                                                                                                                                           ╭──────────────────────────────────────────────────╮
.bsp/                                                                                                                                                              │  lazy.nvim                             12:16:11 │
.idea/                                                                                                                                                             │━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━│
target/                                                                                                                                                            │# Plugin Updates                                  │
project/
out/